<footer class="bg-dark text-white mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>游戏道具交易平台</h5>
                <p>安全、快捷的游戏道具交易市场</p>
            </div>
            <div class="col-md-3">
                <h5>快速链接</h5>
                <ul class="list-unstyled">
                    <li><a href="/about/" class="text-white-50">关于我们</a></li>
                    <li><a href="/contact/" class="text-white-50">联系我们</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>联系方式</h5>
                <ul class="list-unstyled text-white-50">
                    <li><i class="fas fa-envelope"></i> support@gametrade.com</li>
                </ul>
            </div>
        </div>
    </div>
</footer>